#!/bin/bash
# This file is used to set environment variables for the project.
# Packer
export HCLOUD_TOKEN=$(pass HCLOUD_TOKEN)

# Terraform / OpenTofu 
export TF_VAR_HCLOUD_TOKEN=$(pass HCLOUD_TOKEN)
export TF_VAR_PRIVATE_HOME_IP=$(pass PRIVATE_HOME_IP)
export TF_VAR_CLUSTER_NAME=$(pass CLUSTER_NAME)
