#!/bin/bash
# This file is used to set environment variables for the project.
# Packer
export HCLOUD_TOKEN=$(pass HCLOUD_TOKEN)

# Terraform / OpenTofu
export TF_VAR_HCLOUD_TOKEN=$(pass HCLOUD_TOKEN)
export TF_VAR_PRIVATE_HOME_IP=$(pass PRIVATE_HOME_IP)
export TF_VAR_CLUSTER_NAME=$(pass CLUSTER_NAME)

# export TF_VAR_SPACELIFT_API_KEY_ENDPOINT=$(pass SPACELIFT_API_KEY_ENDPOINT)
# export TF_VAR_SPACELIFT_API_KEY_ID=$(pass SPACELIFT_API_KEY_ID)
# export TF_VAR_SPACELIFT_API_KEY_SECRET=$(pass SPACELIFT_API_KEY_SECRET)
